.task{
    width: 50px;
    border: 2px solid rgba(255, 250, 250, 0.26);
    height: 100%;
    margin: 0px 10px;
    font-size: 40px;
    text-align: center;
    color: #6e6be8;
    cursor: pointer;
}