
body {
	overflow: hidden;
}

#window {
	position: absolute;
	margin: 0;
	padding: 0;
	border: 2px solid rgba(111, 108, 108, 0.28);
	background: #ffffff;
	box-shadow: 5px 10px 10px grey;
}

#titlebar {
	font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
	color: white;

	background: #396afc;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	
	text-align: center;
	cursor: move;
	
    i{
        margin: 0.2rem;
        float: right;
        cursor: pointer;
    }
}