.taskbar {
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
    background: linear-gradient(to right, rgba(8, 2, 51, 0.71), rgba(10, 24, 66, 0.74));
    bottom: 0px;
    left: 0px;
    position: absolute;
    margin: 0rem;
}