<div id="window" [style.width.px]='width' [style.height.px]='height' [style.top.px]='top' [style.left.px]='left' [style.cursor]='cursorStyle'
  [style.z-index]='zindex' [style.visibility]='visibility' (mouseenter)='windowMouseEnter($event)' (mousedown)='windowMouseDown($event)'
  (mouseleave)='windowMouseLeave($event)'>
  <div id="titlebar" *ngIf="titleBarFlag" [style.font-size.px]='titleBarFontSize' [style.height.px]='titleBarHeight' (mousedown)="titleBarMouseDown($event)">
    <span id="name">{{windowName}}</span>
    <i (click)="close()" class="fa fa-window-close-o"></i>
    <i (click)="maximize()" class="fa fa-window-maximize"></i>
    <i class="fa fa-window-minimize"></i>
  </div>
  <div class="body">
    <ng-content></ng-content>
  </div>

</div>
<!-- <h4 *ngIf="mouseEvent">X= {{mouseEvent.clientX}} Y = {{mouseEvent.clientY}} left = {{left}} top={{top}} width={{width}} height= {{height}}</h4>
<p></p> -->