.menu{
    height: 500px;
    width: 500px;
    border: 2px solid rgba(255, 255, 255, 0.14);
    bottom: 50px;
    left: 11px;
    position: absolute;
    background: linear-gradient(to right, rgba(8, 2, 51, 0.71), rgba(10, 24, 66, 0.74));
}